Checks: '*,
  -*-implicit-bool-conversion,
  
  -altera-*,
  -llvmlibc-*,
  
  -readability-redundant-access-specifiers,
  
  -fuchsia-trailing-return,
  -fuchsia-default-arguments-declarations,
  -fuchsia-overloaded-operator,
  -fuchsia-default-arguments-calls,
  
  -misc-non-private-member-variables-in-classes
  '
WarningsAsErrors: '*'
CheckOptions:
  cppcoreguidelines-avoid-do-while.IgnoreMacros: true
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.FunctionCase: CamelCase # only for cpp modern
  readability-identifier-naming.MemberCase: CamelCase
  readability-identifier-naming.ParameterCase: CamelCase
  readability-identifier-naming.PrivateMemberPrefix: m_
  readability-identifier-naming.UnionCase: CamelCase
  readability-identifier-naming.VariableCase: CamelCase
  readability-identifier-naming.VariableIgnoredRegexp: '(it|bl)'